<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Site Admin Panel</title>
    <%= stylesheet_link_tag 'reset-min', :cache => true %>
    <%= stylesheet_link_tag 'admin-panel' %>
  </head>
  <body id="admin_panel">
    <%- if flash[:notice] -%><div class="notice"><%= flash[:notice] %></div><%- end -%>
    <%- if flash[:error] -%><div class="error"><%= flash[:error] %></div><%- end -%>
    <%- if flash[:warning] -%><div class="warning"><%= flash[:warning] %></div><%- end -%>
    
    <ul id="navigation">
      <li><%= link_to "Pages", admin_panel_site_pages_path(@site) %></li>
      <li><%= link_to "Commenters", admin_panel_commenters_path(@site) %></li>
    </ul>
    
    <hr />
    <%= yield %>
  </body>
</html>