<%= javascript_include_tag :defaults %>
<h1 id="pages_message">
  People you've invited 
  <%- if @pages.size > 0 -%>
    have commented on 
    <strong id="page_count"><%= pluralize(@pages.size, 'page') %></strong>.
  <%- else -%>
    haven't commented on any pages.
  <%- end -%>
</h1>

<%- unless @pages.empty? -%>
<ol id="site_pages">
  
<%- @pages.each do |page| -%>
  <li class="site_page <%= cycle('odd','even') %>">
    <div class="remove_page">
      <%= link_to 'x', 
          admin_panel_delete_site_page_path(@site, @site.validation_token, page), 
          :confirm => "This will remove all of the feedback on this page. Are you sure?", 
          :method => :delete %>
    </div>
    <div class="page_details">
      <%= link_to url_link_text(page.url), page.url, :class => 'page_url' %>
      <span class="commenter_details">
        <%= pluralize(page.comments.size, 'comment') unless page.comments.empty? %>
        <%= ", " unless page.comments.empty? %>
        <%= pluralize(page.user_styles.size, 'design') unless page.user_styles.empty? %>
      </span>
      <span class="latest_feedback">
        <%= relative_date Date.parse(page.latest_feedback) %> @ 
        <%= prettier_time Time.parse(page.latest_feedback) %>
      </span>
      <%- if @search_comments && @search_comments[page.id] -%>        
        <div class="search_match">
          <span>Search Results for This Page</span>
          <%- @search_comments[page.id].each do |matching_comment| -%>
          <p>
            <%= "<span class='commenter_email'>#{matching_comment.commenter.truncated_email}</span>: " + (matching_comment.content.gsub(/<\/?[^>]*>/, " "))[0,50] + "..." %>
          </p>
          <%- end -%>
        </div>
        <%- end -%>
    </div>
  </li>
<%- end -%>
</ol>
<% end -%>
