<%= javascript_include_tag :defaults %>

<p id="invited_message">
  <%- unless @total_commenters == 0 -%>
  You've invited <strong id="invite_count"><%= pluralize(@total_commenters, 'person') %></strong> to give feedback.
  <% end -%>
</p>

<%- unless @commenters_commented.empty? -%>
<span>Gave Feedback</span>
<ol id="site_commenters_commented">
  <%- @commenters_commented.each do |commenter| -%>
    <%= render :partial => "list_commenter", :locals => {:commenter => commenter}%>
<% end -%>
</ol>
<%- end -%>

<%- unless @commenters_visited.empty? -%>
<p>Visited</p>
<ol id="site_commenters_visited">
  <%- @commenters_visited.each do |commenter| -%>
    <%= render :partial => "list_commenter", :locals => {:commenter => commenter}%>
  <% end -%>
</ol>
<%- end -%>

<%- unless @commenters_not_visited.empty? -%>
<p>Didn't Visit Yet</p>
<ol id="site_commenters_not_visited">
  <%- @commenters_not_visited.each do |commenter| -%>
    <%= render :partial => "list_commenter", :locals => {:commenter => commenter}%>
  <% end -%>
</ol>
<%- end -%>


<fieldset id="invite_commenters">
  <legend>Invite <%= (@total_commenters == 0) ? 'some' : 'more' %> folks</legend>

  <% form_tag admin_panel_invite_path(@site) do %>
    <%= label_tag 'emails', "Comma-separated emails" %><br />
    <%= text_area_tag :emails %><br />
    <%= submit_tag 'Invite' %>
  <% end %>
</fieldset>
