- @title = "Embed out script on your site"

%p#new_site_breadcrumb
  %span.before 1. Add URL
  &nbsp;&raquo;&nbsp;
  %span.now 2. Install Script
  &nbsp;&raquo;&nbsp;
  %span.next 3. Admin Link to Your Site

%h1 Install our feedback widget

Insert this script at the bottom of 
%b.tag &lt;body&gt; 
in your site:
%br
= text_field_tag 'jsinclude', "<script src='#{CONFIG.url}/widget/#{@site.id}' type='text/javascript'></script>", :class => 'code'

= button_to "&nbsp;I've added it&nbsp;", @site.admin_url + "&admin_intro=true", :method => :get
&nbsp;
= link_to "I'll add it later", dashboard_account_path(current_account), :onclick => 'return confirm("You won\'t be able to invite people or start getting feedback until you install our widget. Are you sure you want to add it later?");'
