<p>
  <b>Url:</b>
  <%=h @site.home_page.url %>
</p>

<iframe  SRC="<%= @site.home_page.url %>" >
</iframe>

<% for comment in @site.home_page.feedbacks %>
   <p> <%= comment.content %> </p>
   <p> Left by <%= comment.commenter %> </p>
   <p> Created on <%= comment.created_at %> </p>
<% end %>

<h4>Leave feedback</h4>
<% form_for :feedback, @feedback, :url => { :controller => "feedbacks", :action => "create" } do |f| %>
	<p><%= f.text_area :content %></p>
	<p><%= f.hidden_field :page_id, :value => @site.home_page.id %></p>
	<p><%= f.hidden_field :commenter_id %></p>
	<p><%= f.submit "Create" %></p>
<% end %>
