- @title = 'Dashboard'

:javascript
  function expandScript(el) {
    var jsRow = el.parentNode.parentNode.nextSibling.nextSibling;
    if (jsRow.style.display == "none") {
      new Effect.Appear(jsRow, {duration: .2});
    }
    else {
      new Effect.Fade(jsRow, {duration: .2});
    }
  }
  function newSite(el) {
    el.hide();
    console.log($('new_site_wrapper'));
    $('new_site_wrapper').show();
  }

%h1 
  My Sites

#new_site_wrapper
  %h2 To add a new site
  %ol#new_site_steps
    %li 
      = link_to "Tell us the URL", new_site_path
    %li 
      %strong Embed 
      our script
    %li 
      Follow the 
      %br
      %strong Admin Link 
      to invite people

%table{:id=>'sites_table'}
  - if @sites.empty?
    %tr
      %td
        No sites yet.
  - else
    %tr
      %th Admin Link
      %th Our Script
      %th.centered Delete
    - for site in @sites
      %tr{:class => cycle('odd','even')}
        %td.site_name= link_to h(site.name), site.admin_url
        %td.jsinclude
          %span{ :onClick => 'expandScript(this)'} Embed
        %td.delete_link= link_to 'X', site, { :confirm => 'Are you sure?', :method => :delete, :style => 'text-decoration: none' }
      %tr.jsinclude{:style => "display:none; background-color: #fff"} 
        %td{:colspan => 3} 
          Insert this at the bottom of 
          %b.tag &lt;body&gt; 
          in your site:
          = text_field_tag 'jsinclude', "<script src='#{WIDGET_DOMAIN}widget/#{site.id}' type='text/javascript'></script>", :class => 'code'
      
  / %tr
  /   %td{:colspan=>4}
  /     = link_to "Add a site!", new_site_path
      
/ #account_block
/   - form_for @account, :controller => "accounts", :action => "update" do |f| 
/     = f.error_messages
/     %fieldset
/       %legend Account Info
/       = label_tag 'email'
/       = f.text_field :email, :class=>'email_text'
/       / = label_tag 'password'
/       / = f.password_field :password
/       / = label_tag 'password_confirmation', 'Confirm Password'
/       / = f.password_field :password_confirmation
/       = submit_tag 'Save Changes'
