- @title = 'Dashboard'

:javascript
  function expandScript(el) {
    var jsRow = el.parentNode.parentNode.nextSibling.nextSibling;
    new Effect.BlindDown(jsRow);
    new Effect.Highlight(jsRow);
  }

%table{:id=>'sites_table'}
  %tr
    %th{:colspan=>4} My Sites
  
  - if @sites.empty?
    %tr
      %td 
        Whoops, you don't have any sites.
  - else
    - for site in @sites
      %tr{:class => cycle('even','odd')}
        %td= link_to h(site.name), site.admin_url
        %td  
          %a{:href => '#', :onClick => 'expandScript(this)'} Script Include
        %td= link_to 'Delete', site, { :confirm => 'Are you sure?', :method => :delete }
      %tr.jsinclude{:style => "display:none;"} 
        %td{:colspan => 3} 
          Insert this in your site:
          = text_field_tag 'jsinclude', "<script src='http://localhost:3000/widget/#{site.id}' type='text/javascript'></script>", :size => '100'
        
      
  %tr
    %td{:colspan=>4}
      = link_to "Add a site!", new_site_path
      
/ #account_block
/   - form_for @account, :controller => "accounts", :action => "update" do |f| 
/     = f.error_messages
/     %fieldset
/       %legend Account Info
/       = label_tag 'email'
/       = f.text_field :email, :class=>'email_text'
/       / = label_tag 'password'
/       / = f.password_field :password
/       / = label_tag 'password_confirmation', 'Confirm Password'
/       / = f.password_field :password_confirmation
/       = submit_tag 'Save Changes'
