- @title = 'Dashboard'

:javascript
  function expandScript(el) {
    var jsRow = el.parentNode.parentNode.nextSibling.nextSibling;
    if (jsRow.style.display == "none") {
      new Effect.Appear(jsRow, {duration: .2});
    }
    else {
      new Effect.Fade(jsRow, {duration: .2});
    }
  }

%table{:id=>'sites_table'}
  %tr
    %th{:colspan=>4} My Sites
  
  - if @sites.empty?
    %tr
      %td 
        Whoops, you don't have any sites.
  - else
    - for site in @sites
      %tr{:class => cycle('odd','even')}
        %td.site_name= link_to h(site.name), site.admin_url
        %td.jsinclude
          %a{:href => '#', :onClick => 'expandScript(this)'} Script Include
        %td.delete_link= link_to 'x', site, { :confirm => 'Are you sure?', :method => :delete, :style => 'text-decoration: none' }
      %tr.jsinclude{:style => "display:none; background-color: #ffffff"} 
        %td{:colspan => 3} 
          Insert this in your site:
          = text_field_tag 'jsinclude', "<script src='#{WIDGET_DOMAIN}widget/#{site.id}' type='text/javascript'></script>"        
      
  %tr
    %td{:colspan=>4}
      = link_to "Add a site!", new_site_path
      
/ #account_block
/   - form_for @account, :controller => "accounts", :action => "update" do |f| 
/     = f.error_messages
/     %fieldset
/       %legend Account Info
/       = label_tag 'email'
/       = f.text_field :email, :class=>'email_text'
/       / = label_tag 'password'
/       / = f.password_field :password
/       / = label_tag 'password_confirmation', 'Confirm Password'
/       / = f.password_field :password_confirmation
/       = submit_tag 'Save Changes'
