<h1>Editing Your Account</h1>

<%= error_messages_for :account %>

<% form_for @account do |f| %>
  <p>
    <%= label_tag 'email', nil, :class => 'wide_left' %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= label_tag 'password', nil, :class => 'wide_left' %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= label_tag 'password_confirmation', 'Confirm Password', :class => 'wide_left' %>
    <%= f.password_field :password_confirmation %>
  </p>

  <br/>
  <h3>
    Notification settings
  </h3>
  <br/>
  <p>
    Send me an email when these sites get new feedback:
  </p>
  <%= render :partial => 'commenters/notification_preferences',
        :locals => {
          :commenter_or_account => @account,
          :form => f
        }
      %>
  <p>
    <%= submit_tag 'Update preferences', :class => 'submit' %>
  </p>
<% end %>
