- @title = 'Edit Account'
- @account.password = @account.password_confirmation = nil

%h1 Editing Your Account

= error_messages_for :account

- form_for @account do |f|
  %p
    = label_tag 'email', nil, :class => 'wide_left'
    = f.text_field :email
  %p
    = label_tag 'password', nil, :class => 'wide_left'
    = f.password_field :password
  %p
    = label_tag 'password_confirmation', 'Confirm Password', :class => 'wide_left'
    = f.password_field :password_confirmation
  %p
    = label_tag 'preferred_timezone', 'Timezone', :class => 'wide_left'
    = f.time_zone_select :preferred_timezone, ActiveSupport::TimeZone.us_zones
  %p
    = label_tag 'preferred_notification_delivery', 'Notifications', :class => 'wide_left'
    = f.select :preferred_notification_delivery, ['all', 'digest', 'none']
  %div{:style=>"clear:both;"}
  %p
    = submit_tag 'Edit', :class => 'submit'
