<%- @title = 'Sign up!' -%>
<%- @account.password = nil -%>

<%= error_messages_for :account %>

<div class="right_message subliminal_yet_loud">
  Start reducing your time in the <em>feedback loop</em>
</div>

<h1>Sign up (or <%= link_to 'log in', login_path %>)</h1>

<% form_for @account do |f| -%>
  <p>
    <%= f.label 'name', 'Full Name', :class => 'wide_left' %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'job_title', 'Job Title', :class => 'wide_left' %>
    <%= f.text_field :job_title %>
  </p>
  <p>
    <%= f.label 'email', nil, :class => 'wide_left' %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'password', nil, :class => 'wide_left' %>
    <%= f.password_field :password %>
  </p>
  <div style="clear:both;"></div>
  <p>
    <%= submit_tag 'Sign up', :class => 'submit', :id => 'new-account-submit' %>
  </p>
<% end -%>
