<div class="commentchunk" id=<%= "commentchunk#{comment.id}" %>>
	<div class="commentparent" id=<%= "commentparent#{comment.id}" %>>
		<p><%=h comment.content %></p>
		<p>Average opinion:
		<% if comment.ratings.average('value') == nil %>
		    Unrated
		<% elsif (comment.ratings.average('value') > 0) %>
		    Good 
		<% elsif (comment.ratings.average('value') < 0) %>
		    Bad
		<% else %>
                    Neutral
		<% end %>
		</p>
		
		<% if @current_user and @current_user != comment.user %>

		<div style="float: right;">
		
		<% form_for :rating, @rating, :url => { :controller => "ratings", :action => "create" } do |f| %>
		  	<label>Rate this comment: </label>
		  	Good<%= f.radio_button :value, 1 %>
			   Bad<%= f.radio_button :value, -1 %>
		  	<%= f.hidden_field :comment_id, :value => comment.id %>
		  	<%= f.hidden_field :user_id %>
		  	<%= f.hidden_field :created_at %> <%= f.submit "Rate it!" %>
		  <% end %>
		 </div>
		 <% end %>
		<blockquote style="clear: both;">
			<%=h comment.user.login %> - <%=h comment.date.strftime("%b %d, %Y, %I:%M %p")%> 
			<% if @current_user %>
			- <%= link_to_function('Reply to this comment', "Element.toggle('commentreplyto#{comment.id}')") %>
			<% end %>
		</blockquote>
	</div>
	<div class="commentchild" id=<%= "commentchild#{comment.id}" %>>
		<div class="commentreplyto" id=<%= "commentreplyto#{comment.id}" %> style="display:none;">
			<% form_for :comment, @comment, :url => { :controller => "comments", :action => "createthreaded" } do |f| %>
		  	<p><%= f.text_area :content %></p>
		  	<%= f.hidden_field :parent, :value => comment.id %>
		  	<%= f.hidden_field :user_id %>
		  	<%= f.hidden_field :date %>
		  	<p><%= f.submit "Create" %></p>
		  <% end %>
		</div>
		<%= render :partial => 'comment',
							 :collection => comment.comments %>
	</div>
</div>

