<h3>Rate this project!</h3>
	<p>Average rating:
	    <% if project.ratings.average('value') != nil %> 
	      <%= project.ratings.average('value').truncate(1) %> </p>
            <% else %>
	      Unrated
	    <% end %>
	    <% if @current_user and @current_user != project.user %>
	<% form_for :rating, @rating, :url => { :controller => "ratings", :action => "create" } do |f| %>
		  	<p>0<%= f.radio_button :value, 0 %>
			   1<%= f.radio_button :value, 1 %>
			   2<%= f.radio_button :value, 2 %>
			   3<%= f.radio_button :value, 3 %>
		  	<%= f.hidden_field :project_id, :value => project.id %>
		  	<%= f.hidden_field :user_id %>
		  	<%= f.hidden_field :created_at %>
		  	<%= f.submit "Rate it!", :class => "rateit" %></p>
		  <% end %>
		<% end %>