<h2 style="float:left;margin-right: 1em;">
	<%=h @project.name %></h2> -
	<%= link_to 'View page embedded', :controller => :projects, :action => :annotate, :id => @project %> -
	<a href="http://<%=h @project.link %>"><%=h @project.link %></a>


<p>
<%if @current_user == @project.user %>
<%= link_to 'Edit Project Details', edit_project_path(@project) %> |
<% end %> 
<%= link_to 'Back to Projects List', projects_path %></p>

<p>
  <b>User:</b>
  <%=h @project.user.login %>
</p>

<p>
  <b>Summary:</b>
  <%=h @project.summary %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<%= render :partial => 'rating', :locals => { :project => @project } %>

<div class="comments">
	<div class="commentsheader">Comments:</div>
	<%= render :partial => 'comment',
						 :collection => @project.comments %>
</div>

<% if @current_user %>
<% form_for([@project, @comment]) do |f| %>
  <%= f.error_messages %>
	<label>New Comment</label>
    <%= f.text_area :content %>

	<p>
		<%= f.hidden_field :project_id %>
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :date %>
	</p>
	
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<% else %>
<p>Login to post or reply to comments!</p>
<% end %>
