<% for comment in page.feedbacks.find(:all, :order => "lft ASC") %>
  <div id="comment_<%= comment.id %>" style="padding-left: <%= comment.level * 10 %>px">
  <%= comment.content %> <br />
  <blockquote> Left by <%= comment.commenter.email %> at <%= comment.created_at %></blockquote> <br />
  <%= link_to 'Delete', page_feedback_path(page, comment), :confirm => "Are you sure you want to delete the comment by #{comment.commenter.email}?", :method => :delete %> <br />
  </div>
<% end %>

