
<% if @page.account_id != nil %>
<p>
  <b>Owned by</b>
  <%=h @page.account.email %>
</p>
<% end %>

<% if @page.site_id != nil %>
<p>
  <b>Site:</b>
  <%=h @page.site_id %>
</p>
<% end %>

<p>
  <b>Url:</b>
  <%=h @page.url %>
</p>

<iframe width="600" height="300" SRC="<%= @page.url %>" >
</iframe>

<%- if @page.site_id != nil -%>
	<table style="width: 45em">
	<%- for page in @page.site.pages -%>
		<% unless page.feedbacks.empty? %>
			<tr><th style="padding-top: 1em">Feedback for: <%= link_to(page.url, page.url) %></th></tr>
			<%= render :partial => "feedback", :locals => { :page => page } %>
		<% end %>
	<%- end -%>
	</table>

<% else %>
	<table>
	<%= render :partial => "feedback", :locals => {:page => @page } %>
	</table>
<%- end -%>

<%= link_to "Back to my homepage", root_path %>