
<% if @page.account_id != nil %>
<p>
  <b>Owned by</b>
  <%=h @page.account.email %>
</p>
<% end %>

<% if @page.site_id != nil %>
<p>
  <b>Site:</b>
  <%=h @page.site_id %>
</p>
<% end %>

<p>
  <b>Url:</b>
  <%=h @page.url %>
</p>

<iframe  SRC="<%= @page.url %>" >
</iframe>

<% for comment in @page.feedbacks %>
   <p> <%= comment.content %> </p>
   <p> Left by <%= comment.commenter %> </p>
   <p> Created on <%= comment.created_at %> </p>
<% end %>

<h4>Leave feedback</h4>
<% form_for :feedback, @feedback, :url => { :controller => "feedbacks", :action => "create" } do |f| %>
	<p><%= f.text_area :content %></p>
	<p><%= f.hidden_field :page_id, :value => @page.id %></p>
	<p><%= f.hidden_field :commenter_id %></p>
	<p><%= f.submit "Create" %></p>
<% end %>

