
<% if @page.account_id != nil %>
<p>
  <b>Owned by</b>
  <%=h @page.account.email %>
</p>
<% end %>

<% if @page.site_id != nil %>
<p>
  <b>Site:</b>
  <%=h @page.site_id %>
</p>
<% end %>

<p>
  <b>Url:</b>
  <%=h @page.url %>
</p>

<iframe width="600" height="300" SRC="<%= @page.url %>" >
</iframe>

<%- if @page.site_id != nil -%>
	<table style="width: 45em" id="feedback_table">
	<%- for page in @page.site.pages -%>
		<% unless page.feedbacks.empty? %>
			<tr><th style="padding-top: 1em">Feedback for: <%= link_to(page.url, page.url) %></th></tr>
			<%= render :partial => "feedback", :locals => {:feedbacks => page.feedbacks, :page => page } %>
		<% end %>
	<%- end -%>
	</table>

<% else %>
  <%= text_field('page', 'id', :value => "")  %>
    <%= observe_field('page_id',  :frequency => 1,
         :update => 'feedback_table', :url =>
         { :controller => 'pages', :action=> 'ajax_search', :id=>@page.id },
         :with => "'search=' + escape(value)") %>
  
	<table id="feedback_table">
	<%= render :partial => "feedback", :locals => {:feedbacks => @feedbacks, :page => @page } %>
	</table>
<%- end -%>

<%= link_to "Back to my homepage", root_path %>