
<% if @page.account_id != nil %>
<p>
  <b>Owned by</b>
  <%=h @page.account.email %>
</p>
<% end %>

<% if @page.site_id != nil %>
<p>
  <b>Site:</b>
  <%=h @page.site_id %>
</p>
<% end %>

<p>
  <b>Url:</b>
  <%=h @page.url %>
</p>

<iframe  SRC="<%= @page.url %>" >
</iframe>

<%- if @page.site_id != nil -%>
	<table style="width: 45em">
	<%- for page in @page.site.pages -%>
		<tr><th>Feedback for: <%=h page.url %></th></tr>
		<%= render :partial => "feedback", :locals => { :page => page } %>
	<%- end -%>
	</table>

<% else %>
	<table>
	<%= render :partial => "feedback", :locals => {:page => @page } %>
	</table>
<%- end -%>

<h4>Leave feedback</h4>
<% form_for([@page, @feedback]) do |f| %>
	<p><%= f.text_area :content %></p>
	<p><%= f.hidden_field :page_id%></p>
	<p><%= f.hidden_field :commenter_id %></p>
	<p><%= f.submit "Create" %></p>
<% end %>

