
<% if @page.account_id != nil %>
<p>
  <b>Owned by</b>
  <%=h @page.account.email %>
</p>
<% end %>

<% if @page.site_id != nil %>
<p>
  <b>Site:</b>
  <%=h @page.site_id %>
</p>
<% end %>

<p>
  <b>Url:</b>
  <%=h @page.url %>
</p>

<iframe  SRC="<%= @page.url %>" >
</iframe>

<%- if @page.site_id != nil -%>
	<table>
	<%- for page in @page.site.pages -%>
		<tr><th>Feedback for: <%=h page.url %></th></tr>
		<% for comment in page.feedbacks %>
			<tr><td> <%= comment.content %> </td></tr>
	   	<tr><td> Left by <%= comment.commenter %> at <%= comment.created_at %> </td></tr>
		<%- end -%>
	<%- end -%>
	</table>

<% else %>
	<table>
	<% for comment in @page.feedbacks %>
	   <tr><td> <%= comment.content %> </td></tr>
	   <tr><td> Left by <%= comment.commenter %> at <%= comment.created_at %> </td></tr>
	<% end %>
	</table>
<%- end -%>

<h4>Leave feedback</h4>
<% form_for([@page, @feedback]) do |f| %>
	<p><%= f.text_area :content %></p>
	<p><%= f.hidden_field :page_id%></p>
	<p><%= f.hidden_field :commenter_id %></p>
	<p><%= f.submit "Create" %></p>
<% end %>

