<h1>Editing commenter</h1>

<% form_for(@commenter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @commenter %> |
<%= link_to 'Back', commenters_path %>
