<h1>Listing commenters</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Invite URL</th>
    <th colspan="3">Admin Actions</th>
  </tr>

<% for commenter in @commenters %>
  <tr>
    <td><%=h commenter.email %></td>
    <td style="width: 200px;"><%= @page.url.sub(/\/$/i, '') + '?url_token=' + commenter.invites[0].url_token %></td>
    <td><%= link_to 'Show', page_commenter_path(@page, commenter) %></td>
    <td><%= link_to 'Edit', edit_page_commenter_path(@page, commenter) %></td>
    <td><%= link_to 'Destroy', page_commenter_path(@page, commenter), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add commenters', new_page_commenter_path(@page) %><br />
<%= link_to 'View page', @page %><br />
<%= link_to 'Back to the homepage', root_url%>
