<h1>Listing commenters</h1>

<table>
  <tr>
    <th>Email</th>
  </tr>

<% for commenter in @commenters %>
  <tr>
    <td><%=h commenter.email %></td>
    <td><%= link_to 'Show', page_commenter_path(@page, commenter) %></td>
    <td><%= link_to 'Edit', edit_page_commenter_path(@page, commenter) %></td>
    <td><%= link_to 'Destroy', page_commenter_path(@page, commenter), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add commenters', new_page_commenter_path(@page) %><br />
<%= link_to 'View page', @page %>
