- @title = 'FAQ'
%h1 FAQ

%h3 General
= link_to "What browsers are supported?", :anchor => "whatbrowsers"
%br
= link_to "What is targeting?", :anchor => "whatstargeting"
%br
= link_to "How do I view targeted comments?", :anchor => "viewtargeted"
%br
%h3 Commenters
= link_to "Can I change my (dis)agree vote?", :anchor => "changevotes"
%br
= link_to "Can I leave a comment for a specific person (inivisible to everyone else)?", :anchor => "commentforperson"
%br
= link_to "Can I leave a private comment that is targeted?", :anchor => "privatetargeted"
%br
= link_to "Can I edit my own comments?", :anchor => "editcomments"
%br
= link_to "Can I delete my own comments?", :anchor => "deletecomments"
%br
%h3 Admin
= link_to "How do I delete my site?", :anchor => "deletesite"
%br
= link_to "How do I remove commenters?", :anchor => "removecommenters"
%br
= link_to "What happens when I remove a commenter?", :anchor => "whathappens"
%br
= link_to "Can commenters see each other's comments?", :anchor => "commentersseeothers"
%br
= link_to "How can I delete a single page?", :anchor => "deleteasinglepage"
%br
= link_to "What happens when I delete a page?", :anchor => "deleteapage"
%br
= link_to "What the hell is this 'javascript include' thing?", :anchor => "javascriptinclude"
%br
= link_to "Where should I put the include?", :anchor => "includegoeswhere"
%br
= link_to "Can I use your site on my Facebook profile, Myspace profile, or twitter profile?", :anchor => "facebookp"
%br
= link_to "What's with this whole cross-site scripting business?", :anchor => "crosssite"
%br
= link_to "Can I agree/disagree with a comment?", :anchor => "adminagree"
%br
%h3 About Outspoke 
= link_to "Is Outspokes secure?", :anchor => "isitsecure"
%br
= link_to "Does Outspokes scale?", :anchor => "canrailsscale"
%br

%h3 General
%dl
  %dt 
    %a{:name => "whatbrowsers" } What browsers are supported?
  %dd Outspokes is currently in alpha, so we're only testing functionality with Firefox 3.  While it may work on other browsers, we're not going to guarantee it'll work perfectly.  Also, there's really no point in using Outspokes if you don't have javascript enabled.
  %dt  
    %a{:name => "whatstargeting" } What is targeting?
  %dd Targeting is a way to attach your comment to a part of the page you are commenting on.  To target a part of the page, click on the "target" button in the widget while you are commenting, and then click on the part of the page you would like the comment to be attached to (an image, piece of text, etc.).

  %dt   
    %a{:name => "viewtargeted" } How do I view targeted comments?
  %dd To view the target of a comment, hover your mouse over the comment, and a box will appear around the target of the comment on the page.  If a comment has a target, there will be a target icon in the title bar of the comment.

%h3 Commenters
%dl
  %dt   
    %a{:name => "changevotes" } Can I change my (dis)agree vote?
  %dd No.  Please think carefully before voting.

  %dt   
    %a{:name => "commentforperson" } Can I leave a comment for a specific person (inivisible to everyone else)?
  %dd You can leave a comment that only the admin for the site can see by checking the private box below the comment input form.  Also, replies to private comments will also be private.  All other comments can be seen by everyone else that uses the widget.

  %dt
    %a{:name => "privatetargeted" } Can I leave a private comment that is targeted?
  %dd Yes.  Just select both a target and the private checkbox.

  %dt   
    %a{:name => "editcomments" } Can I edit my own comments?
  %dd No.  Please think carefully before leaving feedback.

  %dt   
    %a{:name => "deletecomments" } Can I delete my own comments?
  %dd No.  Please think carefully before leaving feedback.

%h3 Admin
%dl
  %dt   
    %a{:name => "deletesite" } How do I delete my site?
  %dd To delete your site, log in to outspokes.com.  Once you have logged in, to delete the site, click on the red X to the right of your site name.

  %dt   
    %a{:name => "removecommenters" } How do I remove commenters?
  %dd To remove a commenter, log in to the admin widget on your site, and click on the link to the link to the admin panel.  Then click on the 'x' to the right of the commenter you wish to delete.

  %dt   
    %a{:name => "whathappens" } What happens when I remove a commenter?
  %dd All feedback that the commenter has left will be deleted.  This information includes feedback comments and (dis)agree votes. 

  %dt   
    %a{:name => "commentersseeothers" } Can commenters see each other's comments?
  %dd All commenters can see all comments except for those comments marked as private by commenters and responses to private comments.

  %dt   
    %a{:name => "deleteasinglepage" } How can I delete a single page?
  %dd To delete a single page, open up the admin panel on the widget, and click on the "pages" tab at the top.  Then click on the x to the right of whichever page you want to delete.  This action will delete all the feedback on a page, and leave your site unaffected.

  %dt   
    %a{:name => "deleteapage" } What happens when I delete a page?
  %dd All the feedback and associated information (agree/disagree votes and reply threads) gets deleted.  The page on your site is not directly affected.

  %dt   
    %a{:name => "javascriptinclude" } What the heck is this "javascript include" thing?
  %dd The javascript include tag is the piece of code that allows us to run our widget on your site.  The include tag pulls in the javascript code from our site, which allows someone with a valid URL token to see the widget and give feedback to your site.

  %dt   
    %a{:name => "includegoeswhere" } Where should I put the include?
  %dd We suggest putting it at the bottom of the body page in the site.

  %dt   
    %a{:name => "facebookp" } Can I use your site on my Facebook profile, Myspace profile, or twitter profile?
  %dd No, although this isn't a shortcoming on our end.  Sites like Facebook and Myspace sanitize the text that you give them to prevent people from running things on your page that you might not expect.  Please note, we will never run any malicious code on your site.

  %dt   
    %a{:name => "crosssite" } What's with this whole cross-site scripting business?
  %dd In order to transmit people's comments to our site, we transferring information across web domains, which might be considered a no-no by some people.  However, we do not (and will not ever) transmit any information from your web site other than that pertaining to the comments that people are giving.  The only information about a target that we use is the path to the targeted element in the DOM, we do not use any information contained in the element itself.

  %dt   
    %a{:name => "adminagree" } Can I agree/disagree with a comment?
  %dd No.  We feel that as the person requesting feedback, your opinion (in this respect), doesn't really factor in to the consensus opinion.  To get your opinion heard, simply reply to the comment.

%h3 About Outspokes
%dl
  %dt   
    %a{:name => "isitsecure" } Is Outspokes secure?
  %dd Of course, it's on the internet. 

  %dt   
    %a{:name => "canrailsscale" } Does Outspokes scale?
  %dd That's our problem, don't worry your pretty little heads about it.
