- @title = 'FAQ'
%h1 FAQ

%h3 General
%ul
  %li
    = link_to "What do I need to use Outspokes?", :anchor => "whatneeds"
  %li
    = link_to "What is targeting?", :anchor => "whatstargeting"
  %li
    = link_to "How do I view targeted comments?", :anchor => "viewtargeted"

%h3 Commenters
%ul
  %li
    = link_to "Can I change my (dis)agree vote?", :anchor => "changevotes"
  %li
    = link_to "Can I leave a comment for a specific person that is invisible to everyone else?", :anchor => "commentforperson"
  %li
    = link_to "Can I edit or delete my own comments?", :anchor => "editcomments"
  %li
    = link_to "Can I leave a private comment that is targeted?", :anchor => "privatetargeted"

%h3 Dynamic Edits
%ul
  %li
    = link_to "What are dynamic edits?", :anchor => "dynamicedits"
  %li
    = link_to "How do I see a dynamic edit?", :anchor => "seedynamicedits"
  %li
    = link_to "How do I make a dynamic edit?", :anchor => "makedynamicedits"
  %li
    = link_to "What can I edit?", :anchor => "whatcaniedit"
  %li
    = link_to "Can I make private edits?", :anchor => "privateedits"
  %li
    = link_to "Can I have multiple edits showing at the same time?", :anchor => "multipleedits"

%h3 Admin
%ul
  %li
    = link_to "How do I delete my site?", :anchor => "deletesite"
  %li
    = link_to "How do I remove commenters?", :anchor => "removecommenters"
  %li
    = link_to "What happens when I remove a commenter?", :anchor => "whathappens"
  %li
    = link_to "Can commenters see each other's comments?", :anchor => "commentersseeothers"
  %li
    = link_to "Can I (dis)agree with a comment?", :anchor => "adminagree"
  %li
    = link_to "How can I delete a single page?", :anchor => "deleteasinglepage"
  %li
    = link_to "What happens when I delete a page?", :anchor => "deleteapage"
  %li
    = link_to "Why do I need the 'script include'?", :anchor => "javascriptinclude"
  %li
    = link_to "Where should I put the include?", :anchor => "includegoeswhere"
  %li
    = link_to "Can I use your site on my Facebook profile, Myspace profile, or twitter profile?", :anchor => "facebookp"
  %li
    = link_to "What's with this whole cross-site scripting business?", :anchor => "crosssite"

%h3 About Outspokes 
%ul
  %li
    = link_to "Is Outspokes secure?", :anchor => "isitsecure"

%h3 General
%dl
  %dt 
    %a{:name => "whatneeds" } What do I need to use Outspokes?
  %dd We are currently in our alpha phase, and are only testing functionality using Firefox 3.  While other browsers may work with Outspokes, we cannot guarantee complete compatibility.  You must have javascript enabled in your browser.

  %dt  
    %a{:name => "whatstargeting" } What is targeting?
  %dd Targeting is a way to attach your comment to a part of the page you are commenting on.  To target a part of the page, click on the red target icon above the commenting area in the widget while you are commenting, and then click on the part of the page you would like the comment to be attached to (an image, piece of text, etc.).

  %dt   
    %a{:name => "viewtargeted" } How do I view targeted comments?
  %dd To view the target of a comment, hover your mouse over the comment, and a box will appear around the target of the comment on the page.  If a comment has a target, there will be a target icon in the title bar of the comment.

%h3 Commenters
%dl
  %dt   
    %a{:name => "changevotes" } Can I change my (dis)agree vote?
  %dd Unfortunately, at this time we are not supporting changing votes.

  %dt   
    %a{:name => "commentforperson" } Can I leave a comment for a specific person that is invisible to everyone else?
  %dd You can leave a comment that only the admin of the site can see by checking the private box below the comment input form.  However, private comments to any other user are unsupported.  Also, replies to private comments will also be private.  All other comments can be seen by everyone else that uses the widget.

  %dt   
    %a{:name => "editcomments" } Can I edit or delete my own comments?
  %dd No.  We believe that you should think carefully before posting comments, so editing or removing your comments is not necessary.

  %dt
    %a{:name => "privatetargeted" } Can I leave a private comment that is targeted?
  %dd Yes.  Just select both a target and the private checkbox.

%h3 Dynamic Edits
%dl
  %dt
    %a{:name => "dynamicedits" } What are dynamic edits?
  %dd Dynamic edits are a way for commenters on a site to make CSS changes to elements on a page.  

  %dt
    %a{:name => "seedynamicedits" } How do I see a dynamic edit?
  %dd Each one of the bars on the left side of the widget under the edits tab is a dynamic edit.  To view one, click on the checkbox on the left side of each bar.  The dynamic edit that you are viewing will be highlighted.  You can only view one edit at a time.  To deselect a dynamic edit, uncheck the box.

  %dt
    %a{:name => "makedynamicedits" } How do I make a dynamic edit?
  %dd To make a dynamic edit, in the edits tab in the widget, click on the "Make your own page edit" button on the right side of the pane.  To get back to the view to see other edits, click on the "Edits" button on the left side of that panel. 

  %dt
    %a{:name => "whatcaniedit" } What can I edit?
  %dd Currently, you can change font color, background color, font family, and font size.

  %dt
    %a{:name => "privateedits" } Can I make private edits?
  %dd No.

  %dt
    %a{:name => "multipleedits" } Can I have multiple edits showing at the same time?"
  %dd No, we feel that it is more important to see each edit on its own as the creator envisioned it.  To see what multiple edits would look like at the same time, create a new edit that includes all of the changes that you want to see.

%h3 Admin
%dl
  %dt   
    %a{:name => "deletesite" } How do I delete my site from Outspokes?
  %dd To delete your site, log in to Outspokes.com.  Once you have logged in, you can delete a site from the Outspokes service by clicking the red "X" to the right of the site's name.

  %dt   
    %a{:name => "removecommenters" } How do I remove commenters?
  %dd To remove a commenter, log in to the widget on your site, and click on "Admin Panel."  Within the admin panel, click on the "Commenters" tab and then click the "X" next to the commenter you wish to remove.

  %dt   
    %a{:name => "whathappens" } What happens when I remove a commenter?
  %dd All feedback that the commenter left will be deleted.  This includes comments and all votes.

  %dt   
    %a{:name => "commentersseeothers" } Can commenters see each other's comments?
  %dd All commenters can see all comments.  The only exceptions are those comments explicitly marked as private.  These comments, and all of their replies, can only be seen by the original commenter and you, the admin of the site.
  
  %dt   
    %a{:name => "adminagree" } Can I (dis)agree with a comment?
  %dd No.  We feel that as the person requesting feedback, your opinion (in this respect), doesn't really factor in to the commenters' consensus opinion.  To get your opinion heard, simply reply to the comment.

  %dt   
    %a{:name => "deleteasinglepage" } How can I delete a single page?
  %dd To delete a single page, open up the admin panel on the widget, and click on the "Pages" tab.  Clicking on the "X" to the right of any listed page in this tab will delete the page.

  %dt   
    %a{:name => "deleteapage" } What happens when I delete a page?
  %dd All of the feedback associated with that page will be deleted.  Your actual page will not be affected by the delete action.

  %dt   
    %a{:name => "javascriptinclude" } Why do I need the "script include"?
  %dd The script include loads our widget on your site.  The HTML tag pulls in Javascript code from our site, which creates our widget, and allows invited commenters to see our widget and give feedback on your site.

  %dt   
    %a{:name => "includegoeswhere" } Where should I put the include?
  %dd We suggest putting it at the bottom of the "body" tag of pages on which you would like feedback.  Note that our widget will only be available on pages that have the include.

  %dt   
    %a{:name => "facebookp" } Can I use your site on my Facebook profile, Myspace profile, or twitter profile?
  %dd No, unless you can modify the source code of these pages.

  %dt   
    %a{:name => "crosssite" } What's with this whole cross-site scripting business?
  %dd In order to persist feedback, we have to send information from your site to ours, i.e., across web domains.  Some people consider this a major no-no for security reasons.  However, we do not (and will never) transmit any information from your site to ours other than that directly pertaining to our widget.

%h3 About Outspokes
%dl
  %dt   
    %a{:name => "isitsecure" } Is Outspokes secure?
  %dd The only information we retrieve from your site is the feedback left by commenters. No other information is taken.
