- @title = 'FAQ'
%h1 FAQ

%h3 General
%ul
  %li
    = link_to "What do I need to use Outspokes?", :anchor => "whatneeds"
  %li
    = link_to "What is targeting?", :anchor => "whatstargeting"
  %li
    = link_to "How do I view targeted comments?", :anchor => "viewtargeted"
%h3 Commenters
%ul
  %li
    = link_to "Can I change my (dis)agree vote?", :anchor => "changevotes"
  %li
    = link_to "Can I leave a comment for a specific person (invisible to everyone else)?", :anchor => "commentforperson"
  %li
    = link_to "Can I edit or delete my own comments?", :anchor => "editcomments"
  %li
    = link_to "Can I leave a private comment that is targeted?", :anchor => "privatetargeted"

%h3 Admin
%ul
  %li
    = link_to "How do I delete my site?", :anchor => "deletesite"
  %li
    = link_to "How do I remove commenters?", :anchor => "removecommenters"
  %li
    = link_to "What happens when I remove a commenter?", :anchor => "whathappens"
  %li
    = link_to "Can commenters see each other's comments?", :anchor => "commentersseeothers"
  %li
    = link_to "Can I agree/disagree with a comment?", :anchor => "adminagree"
  %li
    = link_to "How can I delete a single page?", :anchor => "deleteasinglepage"
  %li
    = link_to "What happens when I delete a page?", :anchor => "deleteapage"
  %li
    = link_to "Why do I need the 'script include'?", :anchor => "javascriptinclude"
  %li
    = link_to "Where should I put the include?", :anchor => "includegoeswhere"
  %li
    = link_to "Can I use your site on my Facebook profile, Myspace profile, or twitter profile?", :anchor => "facebookp"
  %li
    = link_to "What's with this whole cross-site scripting business?", :anchor => "crosssite"

%h3 About Outspokes 
%ul
  %li
    = link_to "Is Outspokes secure?", :anchor => "isitsecure"

%h3 General
%dl
  %dt 
    %a{:name => "whatneeds" } What do I need to use Outspokes?
  %dd All you need is a web browser with Javascript enabled. Currently in our alpha phase, we are testing only in Firefox 3, so while other browsers may work with Outspokes, we cannot guarantee it will be perfect.
  %dt  
    %a{:name => "whatstargeting" } What is targeting?
  %dd Targeting is a way to attach your comment to a part of the page you are commenting on.  To target a part of the page, click on red target icon above the commenting area in the widget while you are commenting, and then click on the part of the page you would like the comment to be attached to (an image, piece of text, etc.).

  %dt   
    %a{:name => "viewtargeted" } How do I view targeted comments?
  %dd To view the target of a comment, hover your mouse over the comment, and a box will appear around the target of the comment on the page.  If a comment has a target, there will be a target icon in the title bar of the comment.

%h3 Commenters
%dl
  %dt   
    %a{:name => "changevotes" } Can I change my (dis)agree vote?
  %dd Unfortunately, at this time we are not supporting changing votes.

  %dt   
    %a{:name => "commentforperson" } Can I leave a comment for a specific person (invisible to everyone else)?
  %dd You can leave a comment that only the admin for the site can see by checking the private box below the comment input form.  Also, replies to private comments will also be private.  All other comments can be seen by everyone else that uses the widget.
  %dt   
    %a{:name => "editcomments" } Can I edit or delete my own comments?
  %dd We currently do not support those features.

  %dt
    %a{:name => "privatetargeted" } Can I leave a private comment that is targeted?
  %dd Yes.  Just select both a target and the private checkbox.


%h3 Admin
%dl
  %dt   
    %a{:name => "deletesite" } How do I delete my site?
  %dd To delete your site, log in to outspokes.com.  Once you have logged in, to delete the site, click on the red X to the right of your site name.

  %dt   
    %a{:name => "removecommenters" } How do I remove commenters?
  %dd To remove a commenter, log in to the admin widget on your site, and click on "Admin Panel".  Within the admin panel, go to the "Commenters" tab, and click the "X" next to the commenter you wish to remove.

  %dt   
    %a{:name => "whathappens" } What happens when I remove a commenter?
  %dd All feedback that the commenter has left will be deleted.  This information includes feedback comments and (dis)agree votes. 

  %dt   
    %a{:name => "commentersseeothers" } Can commenters see each other's comments?
  %dd All commenters can see all comments except for those comments marked as private by commenters and responses to private comments.
  
  %dt   
    %a{:name => "adminagree" } Can I agree/disagree with a comment?
  %dd No.  We feel that as the person requesting feedback, your opinion (in this respect), doesn't really factor in to the commenters' consensus opinion.  To get your opinion heard, simply reply to the comment.

  %dt   
    %a{:name => "deleteasinglepage" } How can I delete a single page?
  %dd To delete a single page, open up the admin panel on the widget, and click on the "pages" tab at the top.  Then click on the x to the right of whichever page you want to delete.

  %dt   
    %a{:name => "deleteapage" } What happens when I delete a page?
  %dd All the feedback and associated information (agree/disagree votes and reply threads) gets deleted.  The page on your site is not directly affected.

  %dt   
    %a{:name => "javascriptinclude" } Why do I need the "script include"?
  %dd The script include is the piece of code that allows us to run our widget on your site.  The include tag pulls in the javascript code from our site, which allows someone with a valid URL token to see the widget and give feedback to your site.

  %dt   
    %a{:name => "includegoeswhere" } Where should I put the include?
  %dd We suggest putting it at the bottom of the body page in the site.

  %dt   
    %a{:name => "facebookp" } Can I use your site on my Facebook profile, Myspace profile, or twitter profile?
  %dd No. Sites like Facebook and Myspace sanitize the text that you give them to prevent people from running things on your page that you might not expect.  Please note, we will never run any malicious code on your site.

  %dt   
    %a{:name => "crosssite" } What's with this whole cross-site scripting business?
  %dd In order to transmit people's comments to our site, we transferring information across web domains, which might be considered a no-no by some people.  However, we do not (and will not ever) transmit any information from your web site other than that pertaining to the comments that people are giving.  The only information about a target that we use is the path to the targeted element in the DOM, we do not use any information contained in the element itself.

%h3 About Outspokes
%dl
  %dt   
    %a{:name => "isitsecure" } Is Outspokes secure?
  %dd The only information we are retrieving from your site are the comments and replies that are left by you and your commenters. No other information is taken.