<h2>Welcome <% if logged_in? %><%= current_account.email %><% end %></h2>

<%= render :partial => '/accounts/account_bar' %>

<% if logged_in? %>
<h3>Your Sites</h3>
<% else %>
<h3>All Sites</h3>
<% end %>

<%- if @sites.empty? -%>
  No sites.
<%- else -%>
  <table>
  	<tr>
  		<th>Site name</th>
  		<% if !logged_in?%><th>Owner</th><% end %>
  	</tr>
  <% for site in @sites %>
  	<tr>
  		<td><%= site.home_page.url %></td>

  		<% if !logged_in?%><td><%= site.account.email %></td><% end %>
  		<% if site.account ==  current_account %>
  		<td><%= 'Commenters' %></td>
  		<!-- td><%=  link_to 'Edit', edit_site_path(site) %></td -->
      	<td><%= link_to 'Delete', site, :confirm => 'Are you sure?', :method => :delete %></td>
  		<% end %>
  	</tr>
  <% end %>
  </table>
<% end -%>


<% if logged_in? %> 
	<%= link_to "New site", new_site_path %>
<% end %>