<h3>
  <%= link_to(@notification.site.name, @notification.site.admin_url) %>
</h3>

<% @notification.feedbacks_by_page(:ignore_commenter => @account, :ignore_private => false).each_pair do |page, feedbacks| %>
  <h4><%= link_to(page.url, page.admin_url) %></h4>
  <ul>
    <li><%= pluralize feedbacks[:comments].size, 'new comment' %></li>
    <li><%= pluralize feedbacks[:user_styles].size, 'new design' %></li>
  </ul>
  <br/>
<% end %>

<p>
  To manage your notifications, <%= link_to('click here.', edit_account_url(@account)) %>
</p>
<br/>
