<h1><%=h @idea.name %></h1>

<p>
  <%=h @idea.body %>
</p>

<hr />

<h2>Comments</h2>
<%- if @idea.comments.empty? -%>
  <em>Be the first!</em><br /><br />
<%- else -%>
<ul>
  <%- @idea.comments.each do |comment| -%>
    <li>
      <strong><%=h comment.author %></strong>:<br />
      <%=h comment.body %><br />
      <%= link_to 'delete', idea_comment_path(@idea, comment), :confirm => 'Are you sure?', :method => :delete %>
      <br /><br />
    </li>
  <% end -%>
</ul>
<% end -%>

Your Comment:<br />
<% form_for [@idea, @comment] do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :author, 'Name' %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body, 'Feedback' %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Comment" %>
  </p>
<% end %>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>