<%- @title = 'Login' -%>

<div class="right_message subliminal_yet_loud">
  You're just one step away from 
  <em>better feedback</em>
</div>

<h3>Welcome back (or <%= link_to 'get started', signup_path %>)</h3>

<%- form_tag session_path, :class => 'login' do -%>
  <%= label_tag 'email', nil, :class => 'wide_left' %>
  <%= text_field_tag 'email', @email %>

  <br />
  <%= label_tag 'password', nil, :class => 'wide_left' %>
  <%= password_field_tag 'password', nil %>&nbsp;<%= link_to 'Forgot?', reset_password_path %>
  
  <!-- Uncomment this if you want this functionality -->
  <%#= label_tag 'remember_me', 'Remember me' %>
  <%#= check_box_tag 'remember_me', '1', @remember_me %>

  <br />
  <%= submit_tag 'Log in', :class => 'submit login' %>
<% end -%>
