function() {
  return (function(fb){
    if (fb.env && fb.env.init) {
      return true;
    }

    fb.env = {};
    fb.env.current_page = window.location.href.split("?")[0].split("#")[0].replace(/(\/)$/, "");
    fb.env.url_token = fb.getParams('url_token') || fb.cookie('fb_hash_url_token') || "";
    var _admin_validation_token = fb.cookie('fb_hash_admin_validation_token');
    var _wants_admin = fb.getParams('admin');
    fb.env.pub_page = false;
    fb.env.base_domain = "<%= WIDGET_DOMAIN %>";
    fb.env.logo_address = "<%= WIDGET_DOMAIN %>images/widget-logo.png";
    fb.env.target_address = "<%= WIDGET_DOMAIN %>images/target-icon.png";
    fb.env.get_address = "<%= WIDGET_DOMAIN %>feedback_for_page.js";
    fb.env.post_address = "<%= WIDGET_DOMAIN %>post_feedback_for_page";
    fb.env.opinion_address = "<%= WIDGET_DOMAIN %>opinion_on_feedback";
    fb.env.css_address = "<%= WIDGET_DOMAIN %>stylesheets/widget.css";
    fb.env.destroy_address = "<%= WIDGET_DOMAIN %>delete_feedback";
    // will be set properly in the callback if authorized as the admin
    fb.env.admin_panel_address = null;
    fb.env.first_visit = (fb.cookie('fb_hash_url_token')) ? false : true;
    
    fb.$('head').append('<link rel="stylesheet" type="text/css" href="' + fb.env.css_address + '" />');

    // DO NOT USE THIS!!!!!
    // This is only for convenience in testing, and should never be
    // using in the JS
    fb.env.get = function (key) {
      return _fb[key]();
    };

    var method = fb.rand_string(50);
    var login_callback = fb.find_fb() + "." + method;
    fb[method] = function (data) {
      fb[method] = null;
      delete fb[method];
      if (!data) {
        fb.env.init = true;
        return false;
      }

      _fb.authorized.set(data.authorized);
      if (!_fb.authorized()) {
        if (fb.env.login_panel) {
          fb.env.login_panel.find('div:eq(1)').empty();
          fb.env.login_panel.find('div:eq(1)').append("<h2 style='text-align:center;'>Login invalid.</h2>");
          setTimeout("" + fb.find_fb() + ".env.login_panel.remove(); " + fb.find_fb() + "()", 3000);
          return false;
        }
        fb.env.init = true;
        return false;
      }

      if (fb.env.login_panel) {
        fb.env.login_panel.remove();
        delete fb.env['login_panel'];
      }

      if (data.admin) {
        _fb.admin.set(data.admin);
        if (typeof _fb.admin() === "string") {
          fb.cookie('fb_hash_admin_validation_token', _fb.admin());
        }
        _fb.site_id.set(data.site_id);
        fb.env.admin_panel_address = {};
        fb.env.admin_panel_address.pages = "<%= WIDGET_DOMAIN %>admin_panel/" + _fb.site_id() + '/' +  _fb.admin() + "/pages";
        fb.env.admin_panel_address.commenters = "<%= WIDGET_DOMAIN %>admin_panel/" + _fb.site_id() + '/' +  _fb.admin() + "/commenters";
      }

      if (fb.env.url_token === "") {
        fb.env.pub_page = true;
      }

      fb.cookie("fb_hash_url_token", fb.env.url_token);

      fb.i = new fb.Interface();
      fb.Feedback.get_callback(data, true);
      if (data.no_commenters) {
        fb.i.admin_panel.set_to_commenters();
        fb.i.admin_panel.show();
      }
      return true;
    };

    if (!_admin_validation_token && _wants_admin) {
      fb.$(function() {
        var login_panel = fb.$('<div></div>').css({
          'position': 'fixed',
          'top': '0%',
          'left': '0%',
          'height': '100%',
          'width': '100%',
          'z-index': '1001'
        });
        login_panel.append(fb.$('<div></div>').css({
          'background-color': 'black',
          'color': 'transparent',
          'height': '100%',
          'left': '0%',
          'margin': '0',
          'opacity': '0.80',
          'padding': '0',
          'position': 'fixed',
          'top': '0%',
          'width': '100%',
          'z-index': '1002'
        }));
        login_panel.append(fb.$('<div></div>').css({
          'background-color': 'white',
          'border': '16px solid #eee',
          'color': 'black',
          'height': '170px',
          'width': '230px',
          'top': '37.5%',
          'left': '36.5%',
          'margin': '0',
          'overflow': 'auto',
          'padding': '8px',
          'position': 'fixed',
          'opacity': '1.0',
          'z-index': '1003',
          'font-family':'Helvetica,Arial,sans-serif'
        }));

        var form = fb.$('<form onsubmit="return false;"></form>');
        form.append('Please log into <img src="' + fb.env.logo_address + '" height="20" width="100" alt="Outspokes" style="position: relative;top:5px;">:<br>')
        form.append('<label for="outspokes_email">Email:</label><br /><input type="text" id="outspokes_email" name="email" size="20" /><br />');
        form.append('<label for="outspokes_password">Password:</label><br /><input type="password" id="outspokes_password" name="password" size="20" /><br />');
        form.append('<input type="submit" value="Submit" style="margin-top: .7em" />');
        form.submit(function() {
          var _email = this.email.value;
          var _password = this.password.value;
          fb.env.login_panel = login_panel;
          fb.Feedback.get({'email':_email,'password':_password}, login_callback);
          return false;
        });

        login_panel.find('div:eq(1)').append(form);
        fb.$('body').append(login_panel);
        return;
      });
      return;
    }

    if (typeof _admin_validation_token === "string") {
      fb.Feedback.get({'validation_token':_admin_validation_token}, login_callback);
      return;
    }

    fb.Feedback.get(login_callback);
    return;
